main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

div.home {
  text-align: center;
}

div.table {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.position {
  justify-content: space-around;
}