<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Customize</title>
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <div class="customize">
      <h1>Customize</h1>
      <h2>Three Card Reading</h2>
      <form action="/table" method="POST">
        <input type="text" name="position-1" placeholder="Position 1" required>
        <input type="text" name="position-2" placeholder="Position 2" required>
        <input type="text" name="position-3" placeholder="Position 3" required>
        <input type="submit" value="Ready">
      </form>
    </div>
  </main>
</body>
</html>